@font-face {
    font-family:"Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{
     --primary-color:#8F0101;
     --secondary-color:#B81515;

     --background-primary-color:#FFFFFF;
     --background-secondary-color:#F5F5F5;
     --background-tertiary-color:#000000;

     --text-primary-color:#222222;
     --text-secondary-color:#FFFFFF;

     --title-weight:700;
     --text-weight:400;
     --menu-text-weight:500;
}


/* CSS RESET */
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  menu: Peso 500
    footer : Peso 400
    cards : 400 e 700
    depoimentos : 400 e 700
*/